<div nav-menu></div>
<div class="col-md-12" >
<h2 style="margin-top: 0"> Edit Project</h2>
<div>
  <form name="edit-project-form" style="width:48%">
  <div class="form-group">
      <label for="projectName">Name</label>
      <input type="text" ng-model="project.Name" class="form-control" id="projectName" placeholder="Project Name" value="SIT">
    </div>
    <div class="form-group">
      <label for="projectLeader">Leader</label>
      <select ng-model="project.Lead.Id" ng-disabled="!isAdmin" id="projectLeader" class="form-control">
      	<option value="{{user.Id}}" ng-repeat="user in users">{{user.Username}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="projectKey">Project Key</label>
      <input id="projectKey" ng-model="project.ProjectKey" type="text" class="form-control" id="exampleInputEmail1" placeholder="Project Key" ng-disabled="true" value="123qwe">
    </div>
    <div class="form-group">
      <label for="projectPriorities">Priorities (comma separated)</label>
      <input type="text" ng-model="project.Priorities" class="form-control" id="projectPriorities" placeholder="Available Priorities For The Issues" value="Low, Medium, Urgent">
    </div>
     <div class="form-group">
      <label for="projectLabels">Labels (comma separated)</label>
      <input type="text" ng-model="project.Labels" class="form-control" id="projectLabels" placeholder="Labels" value="Softuni, software">
      <br>
    </div>
     <div class="form-group">
      <label for="projectDescription">Description</label>
      <textarea id="projectDescription" ng-model="project.Description"class="form-control" placeholder="Description">Project for managing issues for specific projects with priorities, status transitions and labels</textarea>
    </div>
    <button type="submit" class="btn btn-success" ng-disabled="!project.Name
                                                        ||!project.Lead.Id
                                                        ||!project.Description
                                                        ||edit-project-form.$invalid" ng-click="editProject(project)">Edit Project</button>
  </form>
  </div>
  </div>
</div>
