<div nav-menu></div>
<div class="col-md-12" >
    <h1>Project page</h1>
    <br />
    <div class="item col-md-5">
        <h2 >
            {{project.ProjectKey}}
            <a ng-if="isAdmin || isLead" class="btn btn-md btn-success" href="#/projects/{{project.Id}}/edit">Edit</a>
            <a ng-if="isAdmin || isLead" class="btn btn-md btn-success" href="#/projects/{{project.Id}}/add-issue">Add Issue</a>
        </h2>


        <p>Project key: {{project.ProjectKey}}</p>
        <p><b>Name</b> {{project.Name}}</p>
        <p><b>Description</b> {{project.Description}}</p>
        <p><b>LeadId</b> (current id: {{project.Lead.Id}}) {{project.Lead.Username}}</p>

        <p>Labels: {{project.Labels}}</p>
        <p>Priorities: {{project.Priorities}}</p>

    </div>
    <div class="item col-md-7">
        <!--filter=Priority.Name == \"In Progress\" or DueDate.Day == 21-->
        <label for="issue-filter"></label>
        <select ng-change="filterIssues(pageSize, page, issueFilter)" id="issue-filter" ng-model="issueFilter">
            <option value='all'>All</option>
            <option value='assigned' ng-selected="true">Assigned</option>
            <option value='author'>Author</option>
            <option value='open'>Open</option>
            <option value='inProgress'>In progress</option>
            <option value='stoppedProgress'>Stopped progress</option>
            <option value='overdue'>Overdue</option>
        </select>
        <select ng-change="filterIssues(pageSize, page, issueFilter)" ng-model="pageSize" id="pageSize">
            <option ng-selected="true" value="3">3</option>
            <option value="5">5</option>
            <option value="10">10</option>
        </select>
        <span ng-if="issueCount>0">{{issueCount}} issues </span>
        <table class="table table-hover ">
            <thead>
            <tr>
                <th>Title</th>
                <th>Description
                <th>Due Date
                <th>Assignee</th>
            </tr>
            </thead>
            <tbody>
            <tr style="border-top: solid 1px grey" ng-repeat="issue in project.Issues">
                <td>
                    <a style="text-decoration:none" href="#/issues/{{issue.Id}}">{{issue.Title}} </a>
                </td>
                <td>{{issue.Description}} </td>
                <td ng-style="dateDiff(issue.DueDate) <= 0
                ? {'background-color':'firebrick'}
                : dateDiff(issue.DueDate) <= 10
                    ? {'background-color':'DarkOrange'}
                    : {'background-color': 'Grey'}">{{issue.DueDate | date:'MM/dd/yyyy-hh:mm'}} </td>
                <td>{{issue.Assignee.Username}} </td>
            </tr>
            </tbody>
        </table>
        <ul ng-if="issuePages>1" class="pagination">
            <li ng-repeat="page in issuePages | range" ><a ng-click="filterIssues(pageSize, page, issueFilter)" href="">{{page}}</a></li>
        </ul>

    </div>

</div>




