<div nav-menu></div>
<div class="col-md-12" >
    <h1>Project page</h1>
    <br />
    <div class="item col-md-5">
        <h2 >
            {{project.ProjectKey}}
            <a ng-if="isAdmin || isLead" class="btn btn-md btn-success" href="#/projects/{{project.Id}}/edit">Edit</a>
            <a ng-if="isAdmin || isLead" class="btn btn-md btn-success" href="#/projects/{{project.Id}}/add-issue">Add Issue</a>
        </h2>


        <p>Project key: {{project.ProjectKey}}</p>
        <p><b>Name</b> {{project.Name}}</p>
        <p><b>Description</b> {{project.Description}}</p>
        <p><b>LeadId</b> (current id: {{project.Lead.Id}}) {{project.Lead.Username}}</p>

        <p>Labels: {{project.Labels}}</p>
        <p>Priorities: {{project.Priorities}}</p>

    </div>
    <div class="item col-md-7">

        <label for="issue-filter"></label>
        <select id="issue-filter" ng-model="issueFilter">
            <option ng-click="filterIssues(issueFilter)" value="All">All</option>
            <option ng-click="filterIssues(issueFilter)" ng-selected="true" value="Assigned">Assigned</option>
            <option ng-click="filterIssues(issueFilter)" value="Author">Author</option>
            <option ng-click="filterIssues(issueFilter)" value="Open">Open</option>
            <option ng-click="filterIssues(issueFilter)" value="InProgress">In progress</option>
            <option ng-click="filterIssues(issueFilter)" value="StoppedProgress">Stopped progress</option>
        </select>
        <span ng-if="issueCount>0">{{issueCount}} issues </span>
        <table class="table table-hover ">
            <thead>
            <tr>
                <th>Title</th>
                <th>Description
                <th>Due Date
                <th>Assignee</th>
            </tr>
            </thead>
            <tbody>
            <tr style="border-top: solid 1px grey" ng-repeat="issue in project.Issues">
                <td>
                    <a style="text-decoration:none" href="#/issues/{{issue.Id}}">{{issue.Title}} </a>
                </td>
                <td>{{issue.Description}} </td>
                <td>{{issue.DueDate}} </td>
                <td>{{issue.Assignee.Username}} </td>
            </tr>
            </tbody>
        </table>


    </div>

</div>




