<div nav-menu></div>
<div class="col-md-6">
    <h2 style="margin-top: 0"> Add new Issue</h2>
    <form name="add-issue-form">
        <div class="form-group">
            <label for="issueTitle">Title</label>
            <input type="text" ng-change="setIssueKey()" class="form-control" id="issueTitle" ng-model="issue.Title" placeholder="Issue Title">
        </div>
        <div class="form-group">
            <label for="issueAssignee">Assignee</label>
            <select id="issueAssignee" ng-model="issue.AssigneeId" class="form-control">
                <option ng-repeat="user in users" value="{{user.Id}}" >{{user.Username}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="projectKey">Issue Key</label>
            <input id="projectKey" ng-model="issue.IssueKey" type="text" class="form-control" id="exampleInputEmail1" placeholder="Issue Key" ng-disabled="true">
        </div>
        <div class="form-group">
            <label for="issueProject">Project</label>
            <select ng-disabled="true" id="issueProject" ng-model="issue.ProjectId" class="form-control">
                <option selected value="{{project.Id}}" >{{project.Name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="issuePriority">Priority</label>
            <select ng-model="issue.PriorityId" id="issuePriority" class="form-control">
                <option ng-repeat="priority in project.Priorities" value="{{priority.Id}}">{{priority.Name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="issueDueDate">Due Date</label>
            <input type="text" class="form-control" id="issueDueDate" ng-model="issue.DueDate" placeholder="mm/dd/yyyy">
        </div>
        <div class="form-group">
            <label for="issueDescription">Description</label>
            <textarea id="issueDescription" class="form-control" placeholder="Description" ng-model="issue.Description"></textarea>
        </div>
        <div class="form-group">
            <label for="issueLabels">Labels (comma separated)</label>
            <input type="text" class="form-control" ng-model="issue.Labels" id="issueLabels" placeholder="Soft, Uni">
            <br>
        </div>
        <button type="submit" class="btn btn-success"  ng-click="addIssue(issue)">Add Issue</button>
    </form>
</div>