<div nav-menu/>
<div class="item col-md-7 panel">
    <form name="editPasswordForm" class="item col-md-6 panel">
        <h2>Edit password</h2>
        <label class="form-control-label" for="edit-newPassword">New password</label>
        <br />
        <input class="form-control" type="password" id="edit-newPassword" ng-model="user.newPassword">
        <br />
        <label class="form-control-label" for="edit-confirmPassword">Confirm password</label>
        <br />
        <input class="form-control" type="password" id="edit-confirmPassword" ng-model="user.confirmPassword">
        <br />
        <label class="form-control-label" for="edit-oldPassword">Old password</label>
        <br />
        <input class="form-control" type="password" id="edit-oldPassword" ng-model="user.oldPassword">
        <br />
        <br />
        <button ng-disabled="editPasswordForm.$invalid
            || !user.newPassword
            || user.newPassword.length < 6
            || !user.confirmPassword
            || user.confirmPassword.length < 6
            || !user.oldPassword
            || user.newPassword != user.confirmPassword"
                class="btn btn-primary form-control" ng-click="editPassword(user)">Edit password</button>
    </form>
</div>
