<div ng-if="isAdmin" class="col-md-8">
    <button class="btn btn-success" ng-click="addIssueRedirect()">Add New Issue</button>
    <button class="btn btn-success" ng-click="addProjectRedirect()">Add New Project</button>
</div>
<div>
    <h1>Dashboard</h1>
    <div class="col-md-4">
        <h2>Affiliated projects</h2>
        <a href="#/projects/{{project.Id}}" class="row" ng-repeat="project in projects">{{project.Name}}</a>
    </div>
    <div class="col-md-8">
        <label for="pageSize">Issues per page</label>
        <select ng-change="attachUserRelatedIssues(pageSize, page, pageOrder)" ng-model="pageSize" id="pageSize">
            <option ng-selected="true" value="3">3</option>
            <option value="5">5</option>
            <option value="10">10</option>
        </select>
        <label for="pageOrder">Issue order</label>
        <select ng-change="attachUserRelatedIssues(pageSize, page, pageOrder)" ng-model="pageOrder" id="pageOrder">
            <option value="Id">Id &#x2191</option>
            <option value="Id desc">Id &#x2193</option>
            <option value="DueDate">Due Date &#x2191</option>
            <option ng-selected="true" value="DueDate desc">Due Date &#x2193</option>
        </select>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Issue</th>
                <th>Description</th>
                <th>Project</th>
                <th>Due Date</th>
            </tr>
            </thead>
            <tbody>
            <tr class ng-repeat="issue in issues">
                <td><a href="#/issues/{{issue.Id}}">{{issue.Title}}</a></td>
                <td>{{issue.Description}}</td>
                <td><a href="#/projects/{{issue.Project.Id}}">{{issue.Project.Name}}</a></td>
                <td>{{issue.DueDate}}</td>
            </tr>
            </tbody>
        </table>
        <ul ng-if="issuePages>1" class="pagination">
            <li ng-repeat="page in issuePages | range" ><a ng-click="attachUserRelatedIssues(pageSize, page, pageOrder)" href="#/">{{page}}</a></li>
        </ul>
    </div>

</div>
